{% extends 'to_do/main.html' %}
{% block content %}
    {% if request.user == task.user %}
    <div class="header-bar">
        <a href="{% url 'tasklist' %}">&#8592; Back</a>
    </div>


    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
    {% else %}
    <h1>You dont have valid credentials to see or edit this page</h1>
    {% endif %}


{% endblock content %}